<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Tarjetas</h4>
				<!-- <h6 class="card-subtitle">Add class</h6> -->
				<div class="table-responsive">
					<table class="table table-hover color-table info-table table-sm txt-10">
						<thead>
							<tr class="text-sm-center">
								<th>Tarjeta</th>
								<th>Fch. Apert.</th>
								<th>Código</th>
								<th>Razón Social</th>
								<th>Peso</th>
								<th>Bultos</th>
								<th>CIF US$</th>
								<th>Observaciones</th>
								<th>Fch. DUA</th>
								<th>Fecha</th>
								<th>DUA</th>
								<th>Manifiesto</th>
							</tr>
						</thead>
						<tbody>
							<tr class="pointer" *ngFor="let tarjeta of tarjetas" (dblclick)="ingresar(tarjeta)">
								<td>{{ tarjeta.nroOrden }}</td>
								<td>{{ tarjeta.fecha | date: 'dd/MM/yyyy' }}</td>
								<td>{{ tarjeta.cliente.coClie }}</td>
								<td>{{ tarjeta.cliente.raSoc }}</td>
								<td>{{ tarjeta.peso | number: '1.2-2' }}</td>
								<td>{{ tarjeta.bultos | number: '1.0-0' }}</td>
								<td>{{ tarjeta.cif | number: '1.2-2' }}</td>
								<td>{{ tarjeta.observaciones }}</td>
								<td>{{ tarjeta.fechaNumeracion | date: 'dd/MM/yyyy' }}</td>
								<td>{{ tarjeta.fechaVcto | date: 'dd/MM/yyyy' }}</td>
								<td>{{ tarjeta.nroDUA }}</td>
								<td>{{ tarjeta.nroManifiesto }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
