<div class="row">
	<div class="col-md-8">
		<div class="flex">
			<div class="flex-item">
				<div style="display: block;">
					<canvas
						baseChart
						width="400"
						height="400"
						[datasets]="lineChartData"
						[labels]="lineChartLabels"
						[options]="lineChartOptions"
						[colors]="lineChartColors"
						[legend]="lineChartLegend"
						[chartType]="lineChartType"
						[plugins]="lineChartPlugins"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)"
					></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="flex-item">
			<table class="table table-responsive table-condensed table-sm">
				<tr>
					<th *ngFor="let label of lineChartLabels">{{ label }}</th>
				</tr>
				<tr *ngFor="let d of lineChartData; let i = index" [class]="'line-' + i">
					<td *ngFor="let label of lineChartLabels; let j = index">{{ d && d.data[j] }}</td>
				</tr>
			</table>
			<button class="btn btn-outline-primary" (click)="randomize()">Calcular</button>
			<br />
			<button class="btn btn-outline-primary" (click)="pushOne()">Agregar</button>
			<br />
			<button class="btn btn-outline-primary" (click)="changeColor()">Color</button>
			<br />
			<button class="btn btn-outline-primary" (click)="hideOne()">Series B</button>
			<br />
			<button class="btn btn-outline-primary" (click)="changeLabel()">Etiqueta</button>
			<br />
		</div>
	</div>
</div>
<!-- <div class="flex">
	<div class="flex-item">
		<div style="display: block;">
			<canvas
				baseChart
				width="400"
				height="400"
				[datasets]="lineChartData"
				[labels]="lineChartLabels"
				[options]="lineChartOptions"
				[colors]="lineChartColors"
				[legend]="lineChartLegend"
				[chartType]="lineChartType"
				[plugins]="lineChartPlugins"
				(chartHover)="chartHovered($event)"
				(chartClick)="chartClicked($event)"
			></canvas>
		</div>
	</div>
	<div class="flex-item">
		<table class="table table-responsive table-condensed">
			<tr>
				<th *ngFor="let label of lineChartLabels">{{ label }}</th>
			</tr>
			<tr *ngFor="let d of lineChartData; let i = index" [class]="'line-' + i">
				<td *ngFor="let label of lineChartLabels; let j = index">{{ d && d.data[j] }}</td>
			</tr>
		</table>
		<button class="btn btn-outline-primary" (click)="randomize()">Calcular</button>
		<button class="btn btn-outline-primary" (click)="pushOne()">Agregar</button>
		<button class="btn btn-outline-primary" (click)="changeColor()">Color</button>
		<button class="btn btn-outline-primary" (click)="hideOne()">Series B</button>
		<button class="btn btn-outline-primary" (click)="changeLabel()">Etiqueta</button>
	</div>
</div> -->
