<div class="row animated fadeIn" *ngIf="cargando">
	<div class="col-sm-12 text-center">
		<strong>Cargando</strong>
		<br />
		<i class="fa fa-spinner fa-pulse fa-2x"></i>
		<br />
		<span>Espere por favor</span>
	</div>
</div>

<div class="row" *ngIf="!cargando">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Vehículos</h4>
				<div class="table-responsive">
					<table class="table table-hover color-table info-table table-sm txt-10">
						<thead>
							<tr class="text-sm-center">
								<th>Id</th>
								<th>Tipo</th>
								<th>Marca</th>
								<th>Placa</th>
								<th>Certificado</th>
								<th>Alto(m)</th>
								<th>Largo(m)</th>
								<th>Ancho(m)</th>
								<th>Peso(TN)</th>
							</tr>
						</thead>
						<tbody>
							<tr class="pointer" *ngFor="let vehiculo of vehiculos" (dblclick)="seleccionar(vehiculo)">
								<td>{{ vehiculo.idVehiculo }}</td>
								<td>{{ vehiculo.tipoVehiculo.nombre }}</td>
								<td>{{ vehiculo.marca }}</td>
								<td>{{ vehiculo.placa }}</td>
								<td>{{ vehiculo.certificado }}</td>
								<td>{{ vehiculo.alto }}</td>
								<td>{{ vehiculo.largo }}</td>
								<td>{{ vehiculo.ancho }}</td>
								<td>{{ vehiculo.peso }}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<button class="btn btn-info waves-effect waves-light m-r-10" (click)="nuevo()">
					<i class="fa fa-plus fa-fw"></i>Nuevo Vehículo
				</button>
			</div>
		</div>
	</div>
</div>
