<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Usuarios</h4>
				<div class="table-responsive">
					<table class="table table-hover color-table info-table table-sm txt-10">
						<thead>
							<tr class="text-sm-center">
								<th></th>
								<th>Id</th>
								<th>Usuario</th>
								<th>Nro. Documento</th>
								<th>Nombres</th>
								<th>Ap. Paterno</th>
								<th>Ap. Materno</th>
							</tr>
						</thead>
						<tbody>
							<tr class="pointer" *ngFor="let usuario of usuarios" (dblclick)="seleccionar(usuario)">
								<td class="w70"><img [src]="usuario.imagen | imagen" class="img-25 img-circle pointer" /></td>
								<td>{{ usuario.idPersona }}</td>
								<td>{{ usuario.username }}</td>
								<td>{{ usuario.numeroDocumento }}</td>
								<td>{{ usuario.nombres }}</td>
								<td>{{ usuario.apellidoPaterno }}</td>
								<td>{{ usuario.apellidoMaterno }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<button class="btn btn-info waves-effect waves-light m-r-10" (click)="nuevo()">
					<i class="fa fa-plus fa-fw"></i>Nuevo
				</button>
			</div>
		</div>
	</div>
</div>
