<div class="row animated fadeIn" *ngIf="cargando">
	<div class="col-sm-12 text-center">
		<strong>Cargando</strong>
		<br />
		<i class="fa fa-spinner fa-pulse fa-2x"></i>
		<br />
		<span>Espere por favor</span>
	</div>
</div>

<div class="row" *ngIf="!cargando">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Choferes</h4>
				<div class="table-responsive">
					<table class="table table-hover color-table info-table table-sm txt-10">
						<thead>
							<tr class="text-sm-center">
								<th>Id</th>
								<th>Nro. Licencia</th>
								<th>Nro. Documento</th>
								<th>Nombres</th>
								<th>Ap. Paterno</th>
							</tr>
						</thead>
						<tbody>
							<tr class="pointer" *ngFor="let chofer of choferes" (dblclick)="seleccionar(chofer)">
								<td>{{ chofer.idPersona }}</td>
								<td>{{ chofer.numeroLicencia }}</td>
								<td>{{ chofer.numeroDocumento }}</td>
								<td>{{ chofer.nombres }}</td>
								<td>{{ chofer.apellidoPaterno }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li *ngIf="pageNu !== 1 && pageNu !== 2" class="page-item">
							<a class="page-link pointer" (click)="getChoferes(pageNu - 2)" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li *ngIf="pageNu !== 1" class="page-item">
							<a class="page-link pointer" (click)="getChoferes(pageNu - 1)">{{ pageNu - 1 }}</a>
						</li>
						<li class="page-item">
							<a class="page-link pointer bg-light-info" (click)="getChoferes(pageNu)">{{ pageNu }}</a>
						</li>
						<li *ngIf="pageNu !== pages" class="page-item">
							<a class="page-link pointer" (click)="getChoferes(pageNu + 1)">{{ pageNu + 1 }}</a>
						</li>
						<li *ngIf="pageNu !== pages && pageNu != pages - 1" class="page-item">
							<a class="page-link pointer" (click)="getChoferes(pageNu + 2)" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
				<button class="btn btn-info waves-effect waves-light m-r-10" (click)="nuevo()">
					<i class="fa fa-plus fa-fw"></i>Nuevo Chofer
				</button>
			</div>
		</div>
	</div>
</div>
