<div class="row animated fadeIn" *ngIf="cargando">
	<div class="col-sm-12 text-center">
		<strong>Cargando</strong>
		<br />
		<i class="fa fa-spinner fa-pulse fa-2x"></i>
		<br />
		<span>Espere por favor</span>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<h4 class="card-title">Datos Personales</h4>
		<h6 class="card-subtitle">{{ persona.username }}</h6>
		<form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f)" class="form p-t-20">
			<fieldset [disabled]="cargando">
				<div class="form-group">
					<label for="exampleInputuname">Id</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="ti-check-box"></i></div>
						<input [(ngModel)]="persona.id" name="id" type="text" class="form-control" readonly="readonly" />
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputuname">Tipo de Documento</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-address-card-o"></i></div>
						<select
							class="form-control custom-select"
							[(ngModel)]="persona.idTipoDocumento"
							name="idTipoDocumento"
							required
						>
							<option *ngFor="let tipo of tiDocs" [ngValue]="tipo.idTipoDocumento">{{ tipo.nombre }}</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputuname">Documento de Identidad</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-address-card-o"></i></div>
						<input
							[(ngModel)]="persona.numeroDocumento"
							#doc
							name="numeroDocumento"
							type="text"
							class="form-control"
							placeholder="Nro de documento"
							minlength="8"
							(focusout)="search(doc.value)"
							required
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputuname">Nombre</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="ti-user"></i></div>
						<input
							[(ngModel)]="persona.nombres"
							name="nombres"
							type="text"
							class="form-control"
							placeholder="Nombres"
							required
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputuname">Apellido Paterno</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="ti-user"></i></div>
						<input
							[(ngModel)]="persona.apellidoPaterno"
							name="apellidoPaterno"
							type="text"
							class="form-control"
							placeholder="Apellido Paterno"
							required
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputuname">Apellido Materno</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="ti-user"></i></div>
						<input
							[(ngModel)]="persona.apellidoMaterno"
							name="apellidoMaterno"
							type="text"
							class="form-control"
							placeholder="Apellido Materno"
						/>
					</div>
				</div>
				<div class="form-group">
					<div>
						<label>Género</label>
					</div>
					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							[(ngModel)]="persona.sexo"
							type="radio"
							name="sexo"
							id="inlineRadio1"
							value="M"
						/>
						<label class="form-check-label" for="inlineRadio1">Masculino</label>
					</div>
					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							[(ngModel)]="persona.sexo"
							type="radio"
							name="sexo"
							id="inlineRadio2"
							value="F"
						/>
						<label class="form-check-label" for="inlineRadio2">Femenino</label>
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Correo electrónico</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="ti-email"></i></div>
						<input
							[(ngModel)]="persona.email"
							name="email"
							type="email"
							class="form-control"
							placeholder="Correo electronico"
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Fecha Nacimiento</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
						<input
							[(ngModel)]="persona.fechaNacimiento"
							name="fechaNacimiento"
							type="date"
							class="form-control"
						/>
					</div>
				</div>
				<button class="btn btn-danger waves-effect waves-light m-r-10" (click)="volver()">
					<i class="fa fa-arrow-left fa-fw"></i>
					Volver
				</button>
				<button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
					<i class="fa fa-fw" [ngClass]="{ 'fa-spinner fa-pulse': cargando, 'fa-save': !cargando }"></i>
					Guardar
				</button>
			</fieldset>
		</form>
	</div>
</div>
